@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-lg-10 mx-auto text-center">
        <div class="section-title">
            <h1>Welcome to ABC Retail!</h1>
        </div>
    </div>
</div>
<p></p>
<div class="text-center">
    <p>Welcome to ABC Retail, your ultimate destination for an exceptional online shopping experience. Our extensive range of products—from electronics and fashion to home essentials and beauty items—ensures you’ll discover exactly what you need, all at unbeatable prices.</p>
    <p>Dive into our collection, enjoy effortless browsing, smooth checkout, and rapid delivery. Whether shopping for yourself or someone special, we offer something unique for everyone. Our dedicated customer support team is always ready to enhance your shopping experience.</p>
    <p>We appreciate you choosing ABC Retail, where excellence meets ease.</p>
    <p></p>
    <p><strong>Enjoy your shopping journey!</strong></p>
</div>
